/* Ajout de styles visuels */
.kitten-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Centrage vertical des éléments */
    margin-bottom: 20px;
    /* Espacement entre les éléments */
}

.kitten-info {
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 20px;
    margin-left: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.name-n-race {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.kitten-info strong {
    margin-bottom: 5px;
    /* Espacement entre les éléments forts */
}

.kitten-info button {
    padding: 8px 16px;
    /* Taille des boutons */
    background-color: #4CAF50;
    /* Couleur de fond */
    color: white;
    /* Couleur du texte */
    border: none;
    border-radius: 3px;
    /* Coins arrondis */
    cursor: pointer;
}

.kitten-info button:hover {
    background-color: #45a049;
    /* Changement de couleur au survol */
}