<h1>Nos chatons ont du talent</h1>
<h2>Liste des chatons adoptables</h2>
<div class="kitten-container" *ngFor="let kitten of kittens" (mouseenter)="onMouseEnter(kitten)"
    (mouseleave)="onMouseLeave()">
    <img [src]="kitten.image" width="216" height="144" alt="">
    <div class="kitten-info" *ngIf="hoveredKitten === kitten">
        <div class="name-n-race"> <span><strong>Name:</strong> {{ hoveredKitten.name }}</span>
            <span> <strong>Race:</strong> {{ hoveredKitten.race }}</span><br>
        </div>
        <div><strong>Birthdate:</strong> {{ hoveredKitten.birthdate }}</div><br>
        <button (click)="adoptKitten(kitten)">Adopter</button>
    </div>
</div>


<h2>Ajouter un chaton adoptable</h2>
<app-create-kitten (kittenCreated)="onKittenCreated($event)"></app-create-kitten>